<template name="home">
	 <div  style="padding:0px; background-color:white; margin-bottom:0px;  border:1px solid #43C6DB ; text-align:center;line-height: 110%;display:bloc">
			  <div class="row" style="font-size:90%; font-weight:bold; margin:0px; ">
			  	<div class="col-xs-4" style="background-color:#43C6DB;padding:5px;color:white;"> UPCOMING<span style="color:black;font-weight:900;margin-left:10px; color:white;">( 33 )</span> </div>
			  	<div class="col-xs-4"  style="background-color:white;padding:5px;color:#43C6DB;"> HISTORY<span style="color:black;font-weight:900;margin-left:10px; color:#20BF9F;">( 134 )</span></div>

			  	<div class="col-xs-4"  style="background-color:white;padding:5px;color:#43C6DB;"> IMPORTANT<span style="color:black;font-weight:900;margin-left:10px; color:#DB5844;">( 6 )</span> </div>
			  </div>

	</div>
	<div class="container" style="width:100%; overflow:hidden ;padding:0px;">
	  {{#each items}}


	  <div style="height:1px; background-color:#E8E8E8; width:100%; "></div>
	  <div id = "{{_id}}" class = "streamItem" style="padding:5px; background-color: white ; margin-bottom:0px;  border-bottom:1px solid #D8D8D8; border-top:1px solid #D8D8D8; line-height: 110%;display:bloc">
			  <div class="row" style="">
			   <div class="col-xs-12" style="word-wrap: break-word;">
					<!-- <h5 style="font-size:105%; font-weight:500; line-height: 100%; margin-bottom:0px;margin-top:0px;">{{title}}</h5> -->
					<p style="margin-bottom: 5px;font-size:100%; font-weight:450; color:black ;">{{comment}}
						<a href="#"><span class="label label-info" style="background-color: #43C6DB; color:white; padding:2px;line-height:250%;">growth</span></a>
					</p>
					<!-- <p><strong>Hobbies: </strong> Hanging out with friends, listen to music, reading and learning new things. </p>
					<p><strong>Skills: </strong>
						<span class="label label-info tags">html5</span> 
						<span class="label label-info tags">css3</span>
						<span class="label label-info tags">jquery</span>
						<span class="label label-info tags">bootstrap3</span>
					</p> 
				</div>    
				<div class="clearfix"></div>
				<div class="col-xs-12 col-sm-4">
					<h2><strong> 20,7K </strong></h2>                    
					<p><small>Followers</small></p>
					<button class="btn btn-success btn-block"><span class="fa fa-plus-circle"></span> Follow </button> -->
				</div>
			</div>
			<hr style="margin-bottom:2px; margin-top:2px;">
			
   	 <div class="row" >
   	 	 <div style="float:left; margin-left:5%;white-space: nowrap;">
	 		<i class="glyphicon glyphicon-time" style="color:grey;"></i> <a href="#" style="color: grey; font-size:90%; white-space: nowrap;">2d 4h 5m
	 	</a></div>
	 	<div style="float:left; margin-left:5%;white-space: nowrap;">
			<i class="glyphicon glyphicon-usd" style="color:grey;"></i> <a href="#" style="color: grey;font-size:90%;white-space: nowrap; ">-45</a> 
		</div>
	 	<div style="float:left; margin-left:5%;white-space: nowrap;">
 	 <i class="glyphicon glyphicon-globe"  style="color:grey;"></i> <a href="#" style="color: #43C6DB;font-size:90%; white-space: nowrap; overflow:ellipsis;">Amsterdam Centraal</a>
   	<!-- | <i class="icon-share"></i> <a href="#">39 Shares</a> -->
   </div>
			
	
		</div>
	</div>

	  {{/each}}


	</div>
</template>
<!-- 
<div class="row" style="text-align:center; vertical-align: middle;">
				<div class="col-xs-4">
					<span class= "glyphicon glyphicon-time" style=" margin-right:2px; margin-top:2px;"></span>
					<h7>2d 4h 5m</h7>
				</div><!-/col-
				<div class="col-xs-2 ">
					<h7>-43</h7><span class= "glyphicon glyphicon-usd" style="margin-right:0px; margin-top:2px;"></span>
				</div><!-/col-
				<div class="col-xs-6 ">
					<span class= "glyphicon glyphicon-globe" style=" margin-right:2px; margin-top:2px;"></span>
					<h7>Amsterdam Centraal , Netherlands</h7>      
				</div><!-/col-
			</div> -->