<template name="wallet">
<div class="container" style="width:100%; overflow:hidden ;padding:0px; ">
	   <div  class = "streamItem" style="padding:5px; padding-top:20px; background-color:white; line-height: 110%;display:bloc">
			  <div class="row">
			   <div class="col-xs-6" style="padding-top:2px;  word-wrap: break-word;text-align:left;">
					<h6 style=" line-height: 100%; margin-bottom:0px;margin-top:0px; color:#555555;">TOTAL</h6>
							</div>
			<div class="col-xs-6" style="word-wrap: break-word;">
					<h6 style="padding-top:1px; line-height: 100%; margin-bottom:0px;margin-top:0px; text-align:right;">2000</h6>
							</div>
			</div>
			 <div class="row">
			   <div class="col-xs-8" style="background-color:#00EEEE;padding-top:2px;  word-wrap: break-word;text-align:center;">
					
							</div>
			<div class="col-xs-4" style="padding:top; word-wrap: break-word;">
					
							</div>
			</div>
			
		</div>

		 <div  class = "streamItem" style="padding:5px; background-color:white; line-height: 110%;display:bloc">
			  <div class="row">
			   <div class="col-xs-6" style="padding-top:2px;  word-wrap: break-word;text-align:left;">
					<h6 style=" line-height: 100%; margin-bottom:0px;margin-top:0px; color:#555555;">CASH</h6>
							</div>
			<div class="col-xs-6" style="word-wrap: break-word;">
					<h6 style="padding-top:1px; line-height: 100%; margin-bottom:0px;margin-top:0px; text-align:right;">50</h6>
							</div>
			</div>
			 <div class="row">
			   <div class="col-xs-3" style="background-color:#00EEEE;padding-top:2px;  word-wrap: break-word;text-align:center;">
					
							</div>
			<div class="col-xs-9" style="padding:top; word-wrap: break-word;">
					
							</div>
			</div>
			
		</div>

		 <div  class = "streamItem" style="padding:5px; background-color:white;  line-height: 110%;display:bloc">
			  <div class="row">
			   <div class="col-xs-6" style="padding-top:2px;  word-wrap: break-word;text-align:left;">
					<h6 style=" line-height: 100%; margin-bottom:0px;margin-top:0px; color:#555555;">DEBIT</h6>
							</div>
			<div class="col-xs-6" style="word-wrap: break-word;">
					<h6 style="padding-top:1px; line-height: 100%; margin-bottom:0px;margin-top:0px; text-align:right;">1000</h6>
							</div>
			</div>
			 <div class="row">
			   <div class="col-xs-8" style="background-color:#00EEEE;padding-top:2px;  word-wrap: break-word;text-align:center;">
					
							</div>
			<div class="col-xs-4" style="padding:top; word-wrap: break-word;">
					
							</div>
			</div>
			
		</div>

		 <div  class = "streamItem" style="padding:5px; background-color:white;  line-height: 110%;display:bloc">
			  <div class="row">
			   <div class="col-xs-6" style="padding-top:2px;  word-wrap: break-word;text-align:left;">
					<h6 style=" line-height: 100%; margin-bottom:0px;margin-top:0px; color:#555555;">SAVINGS</h6>
							</div>
			<div class="col-xs-6" style="word-wrap: break-word;">
					<h6 style="padding-top:1px; line-height: 100%; margin-bottom:0px;margin-top:0px; text-align:right;">900</h6>
							</div>
			</div>
			 <div class="row">
			   <div class="col-xs-5" style="background-color:#00EEEE;padding-top:2px;  word-wrap: break-word;text-align:center;">
					
							</div>
			<div class="col-xs-7" style="padding:top; word-wrap: break-word;">
					
							</div>
			</div>
			
		</div>


		 <div  class = "streamItem" style="padding:5px; background-color:white;line-height: 110%;display:bloc">
			  <div class="row">
			   <div class="col-xs-6" style="padding-top:2px;  word-wrap: break-word;text-align:left;">
					<h6 style=" line-height: 100%; margin-bottom:0px;margin-top:0px; color:#555555;">CREDIT</h6>
							</div>
			<div class="col-xs-6" style="word-wrap: break-word;">
					<h6 style="padding-top:1px; line-height: 100%; margin-bottom:0px;margin-top:0px; text-align:right;">1000</h6>
							</div>
			</div>
			 <div class="row">
			   <div class="col-xs-5" style="background-color:#00EEEE;padding-top:2px;  word-wrap: break-word;text-align:center;">
					
							</div>
			<div class="col-xs-7" style="padding:top; word-wrap: break-word;">
					
							</div>
			</div>
			
		</div>

		<div  class = "streamItem" style="padding:5px; background-color:white; margin-bottom:2px;  border-bottom:1px solid #D8D8D8 ; line-height: 110%;display:bloc">
			  <div class="row">
			   <div class="col-xs-6" style="padding-top:2px;  word-wrap: break-word;text-align:left;">
					<h6 style=" line-height: 100%; margin-bottom:0px;margin-top:0px; color:#555555;">DEBT</h6>
							</div>
			<div class="col-xs-6" style="word-wrap: break-word;">
					<h6 style="padding-top:1px; line-height: 100%; margin-bottom:0px;margin-top:0px; text-align:right;">1000</h6>
							</div>
			</div>
			 <div class="row">
			   <div class="col-xs-5" style="background-color:#00EEEE;padding-top:2px;  word-wrap: break-word;text-align:center;">
					
							</div>
			<div class="col-xs-7" style="padding:top; word-wrap: break-word;">
					
							</div>
			</div>
			
		</div>

		 <div  class = "streamItem" style="padding:5px; background-color:white; margin-bottom:3px;  border:1px solid #D8D8D8 ; text-align:center;line-height: 110%;display:bloc">
			  <canvas id="myChart" height="160"></canvas>

		</div>


		 <div  class = "streamItem" style="padding:0px; background-color:white; margin-bottom:3px;  border:0px solid #D8D8D8 ; text-align:center;line-height: 110%;display:bloc;font-size:75%;">
			  <div class="row">
			  	<div class="col-xs-6" style="background-color:#43C6DB;padding:5px;color:white;"> UPCOMING </div>
			  	<div class="col-xs-6"  style="background-color:white;padding:5px;"> HISTORY </div>
			  </div>

		</div>

		{{#each items}}

	  <div id = "{{_id}}" class = "streamItem" style="padding:5px; background-color:white; margin-bottom:0px;  border-bottom:1px solid #D8D8D8 ; line-height: 110%;">
			  <div class="row" style="margin:0px;" >
			   <div  style="width:50%; float:left;text-overflow: ellipsis; overflow: hidden;white-space: nowrap;">
					<h8 style="line-height: 100%; margin-bottom:0px;margin-top:0px;">{{title}}</h8>
				</div>
			<div style="width:20%; float:right;vertical-align:middle;">
					<h7>27/09/1988</h7>
				</div><!--/col-->
				<div style="width:20%; float:right;">
					<h7>-43</h7><span class= "glyphicon glyphicon-usd" style="margin-right:0px; margin-top:2px;"></span>
				</div><!--/col-->
			</div>
	
		</div>

	  {{/each}}

		
	</div>

</template>