<template name="header">
  <header>
  	  <nav class="navbar navbar-default navbar-fixed-top" role="navigation" style=" height: 45px; background-color:#43C6DB;" >
       	 <div class="navbar-header" style="width:100%;font-size:1.7em; font-weight: 600;">

          	<a id="logo" class="navbar-brand" style="color:white; padding-left:10px;padding-top:10px;font-size:100%;white-space: nowrap; " >
            </a>

			<span id="settings" class= "glyphicon glyphicon-wrench" style=" margin-right:25px; margin-top:11px;  float:right; color:white;"></span>


			<span id="wallet" class= "glyphicon glyphicon-usd" style="margin-right:25px; margin-top:11px;  float:right;color:white;color:white;"></span>

	<!-- 		  <span id="tasks" class= "glyphicon glyphicon-list" style="margin-right:20px; margin-top:20px;  float:right;"></span>

			<span id="events" class= "glyphicon glyphicon-time" style=" margin-right:20px; margin-top:20px;  float:right;"></span>
 -->

	        <span id="add" class= "glyphicon glyphicon-plus" style="margin-right:25px; margin-top:11px;  float:right;color:white;"></span>



        </div>       
      </nav>
  </header>
</template>