<template name="footer">
  <footer >
  	<div class="container" style="background-color:#43C6DB; border-top:solid 1px #D8D8D8;">
        <div class="text-center center-block" style="color:white; padding:10px; margin-top:2px; ">
            <p style="font-weight:850;"> trets.io | contact | f.a.q. | about </p> <p> ancaiep.com 2014</p>
            <br />
                <a href="https://www.facebook.com/bootsnipp"><i id="social" class="fa fa-facebook-square fa-3x social-fb" style="color:#43C6DB; margin-right:20px;"></i></a>
	            <a href="https://twitter.com/bootsnipp"><i id="social" class="fa fa-twitter-square fa-3x social-tw" style="color:#43C6DB;margin-right:20px;"></i></a>
	            <a href="https://plus.google.com/+Bootsnipp-page"><i id="social" class="fa fa-google-plus-square fa-3x social-gp" style="color:#43C6DB;margin-right:20px;"></i></a>
	            <a href="mailto:bootsnipp@gmail.com"><i id="social" class="fa fa-envelope-square fa-3x social-em" style="color:#43C6DB;"></i></a>
</div>
    </div>
  </footer>
</template>